	<iframe src="christophe_asselin_cv_en.pdf" class="pdf-cv"></iframe>
	
	</body>
	<footer>
		<p>Created with <a href="https://www.romanzolotarev.com/ssg.html">ssg</a> by Roman Zolotarev</p>
	</footer>

</html>